    body {
        background-color: #000000;
        color: white;
    }
    
    .heading {
        font-family: 'Raleway', sans-serif;
        font-size: 44px;
        font-weight: 300;
        margin: 50px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .heading>h4 {
        font-family: 'Raleway', sans-serif;
        font-size: 44px;
        font-weight: 300;
        margin: 50px 0px 50px 50px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .desc {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin-top: 0px;
        font-weight: 300;
        margin-bottom: 0px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .feather {
        margin-top: -10px;
        margin-bottom: 30px;
        rotate: 20deg;
        width: 90px;
        color: #DBA506;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    @media only screen and (max-width: 600px) {
        .heading {
            font-family: 'Raleway', sans-serif;
            font-size: 30px;
            font-weight: 300;
            margin: 50px;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .heading>h4 {
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 300;
            margin: 50px 0px 10px 10px;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .desc {
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            margin-top: 0px;
            font-weight: 300;
            margin-bottom: 0px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .feather {
            margin-top: -10px;
            margin-bottom: 30px;
            rotate: 20deg;
            width: 40px;
            color: #DBA506;
        }
    }